
body {
    margin: 0px;
    padding: 0px;
    background: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 1280px 650px;
}

.items {
    display: inline-block;
    /* border: solid 1px; */
}


#left {
    position: absolute;
    left: 18px;
    top: 14px;
    text-align: center;
    filter: invert(100%);
}

#left img {
    display: block;
    height: 100px;
    width: 100px;
}


#middle {
    display: block;
    width: 311px;
    margin: 14px auto;
    background-color: #808080c2;
    overflow: auto;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}


#right {
    position: absolute;
    top: 10px;
    right: 5px;

}

#right button{
    margin: 15px 10px;
    border-radius: 10px;
    width: 105px;
    cursor: pointer;
}

.nav {
    overflow: auto;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    padding-inline-start: 10px;
}

.nav li {
    float: left;
    padding: 11px;
    list-style: none;
    margin: 2px;


}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.nav li:hover {
    background-color: grey;
}




.form{
    position :absolute;
    display: inline-block;
    top: 210px;
    left: 10px;
    width: 350px;
    height: 250px;
}

.form h2{
    color: white;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;

}
.form input{
    display: block;
    margin:10px auto;
    border-radius: 10px;
}
.form button{
    display: block;
    margin: 15px auto;
    border-radius: 10px;
    width: 170px;
    height: 30px;
    cursor: pointer;
}
