<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    <form action="/login" method="POST">
        <h2>Login </h2>
        <br><br>
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <button name="submit">Submit</button>

    </form>
</body>

</html>