<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>

<body>
    <form action="/signup" method="POST">
        <h2>SignUp</h2>
        <br><br>
        <input type="text" name="firstname" placeholder="first name">
        <input type="text" name="lastname" placeholder="last name">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password"> 
        <button name="submit">Submit</button>

    </form>
</body>

</html>