
*{
}
#navbar::before{
    /* width: 1000px;  */
}
#navbar{

    /* width: 1000px;  */
    align-items: center;
    align-content: center;
 

}

.navigation{

}
.navigation li{
margin: 13px 2px;

    
}
.navigation li a {
    font-size: 18px;
    padding: 5px 10px;  
}
.navigation li a:hover{

    
}

/* section  */
#home::before{

    /* width: 1000px;  */
    height: 320px;
}
#home{
/* width: 733px;  */
height: 226px;
padding: 2px 4px;

}
#home p{
}
/* utility css */
.h-primary{
    font-size: 1.8rem;
}

.button{
 
}


/* section services  */
#services{
/* width: 1000px;    */
flex-direction: column;
height: 1300px;
}

#services .box{

}

#Our-services{
    height :1357px;
    /* width: 1000px;  */
}
#Our-services h1{
    margin-top: 1px;
}

.image-services{

}

#services p{
    
}


/* clients  */

#Our-Clients{
/* width: 1000px;  */
height: 390px;
}

#Our-Clients h1{
    margin-bottom: 10px;
    }
#clients{
    /* border: solid black 2px;  */
    /* width: 1000px;  */
    height: 359px;
    flex-wrap: wrap;

    
}
#clients::before{
    /* width: 1000px;   */
}
#clients img{
    height: 89px;
    width: 79px;
    padding: 18px;
}

#footer{
/* width: 1000px;    */
height: 29px;

}
#footer p{
 font-size: 15px;
}